@model List<FinalProjectJob.Models.EntityFramework.elan>
<div class="site-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mb-5 mb-md-0" data-aos="fade-up" data-aos-delay="100">
                <h2 class="mb-5 h3">Recent Jobs</h2>
                <div class="rounded border jobs-wrap">
                    @foreach (var elan in Model)
                    {
                        <a href="job-single.html" class="job-item d-block d-md-flex align-items-center  border-bottom fulltime">
                            <div class="company-logo blank-logo text-center text-md-left pl-3">
                                <img src="~/Content/images/company_logo_blank.png" alt="Image" class="img-fluid mx-auto">
                            </div>
                            <div class="job-details h-100">
                                <div class="p-3 align-self-center">
                                    <h3>@elan.Title</h3>
                                    <div class="d-block d-lg-flex">
                                        <div class="mr-3"><span class="icon-suitcase mr-1"></span> @elan.Company</div>
                                        <div class="mr-3"><span class="icon-room mr-1"></span> @elan.Location</div>
                                        @*<div><span class="icon-money mr-1"></span> $55000 &mdash; 70000</div>*@
                                    </div>
                                </div>
                            </div>
                            <div class="job-category align-self-center">
                                <div class="p-3">
                                    <span class="text-info p-2 rounded border border-info">@elan.JobType.Name</span>
                                </div>
                            </div>
                        </a>
                    }
                </div>
                <div class="col-md-12 text-center mt-5">
                    <a href="#" class="btn btn-primary rounded py-3 px-5"><span class="icon-plus-circle"></span> Show More Jobs</a>
                </div>
            </div>
            <div class="col-md-4 block-16" data-aos="fade-up" data-aos-delay="200">
                <div class="d-flex mb-0">
                    <h2 class="mb-5 h3 mb-0">Featured Jobs</h2>
                    <div class="ml-auto mt-1"><a href="#" class="owl-custom-prev">Prev</a> / <a href="#" class="owl-custom-next">Next</a></div>
                </div>
                <div class="nonloop-block-16 owl-carousel">
                    @foreach (var elan in Model)
                    {
                        <div class="border rounded p-4 bg-white">
                            <h2 class="h5">@elan.Title</h2>
                            <p><span class="border border-warning rounded p-1 px-2 text-warning">@elan.JobType.Name</span></p>
                            <p>
                                <span class="d-block"><span class="icon-suitcase"></span> @elan.Company</span>
                                <span class="d-block"><span class="icon-room"></span> @elan.Location</span>
                                @*<span class="d-block"><span class="icon-money mr-1"></span> $55000 &mdash; 70000</span>*@
                            </p>
                            <p class="mb-0">@elan.JobDescription</p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
